:root {
  --color-blue-electric: #3a61f7;
  --color-blue-userLink: #5694f0;
  --color-blue-middle: #64708b;
  --color-blue-ultralight: #eef0f8;
  --color-gray-dark: #212121;
  --color-gray-medium: #484c5a;
  --color-gray-middle: #9da3b5;
  --color-gray-ultralight: #e6e8ec;
  --color-red: #dc2843;
  --color-green: #08cc74;
  --color-green-light: #60ca9a;
  --color-orange: rgb(255, 185, 56);
  --color-orange-dark: #ff7f00;
}

/*General*/

body {
  background-color: var(--color-blue-ultralight);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userMenuContainer {
  position: fixed;
  z-index: 5000;
}

.userMenu {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--color-green-light);
  color: white;
  border-radius: 4px;
  padding: 10px;
  left: 50px;
  width: 200px;
  height: 60px;
  margin-top: -20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid #ffffff;
}

.userMenuItem {
  color: #ffffff;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.userMenuBtn {
  color: #ffffff;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: var(--color-green-light);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  height: fit-content;
  width: 100%;
}

.userMenuItem:hover {
  background-color: var(--color-orange);
  color: var(--color-green);
}

.userMenuBtn:hover {
  background-color: var(--color-orange);
  color: var(--color-green);
}

.userLink:hover + .userMenu,
.userMenu:hover {
  display: block;
}
.div-title {
  width: 100%;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.slogan {
  font-family: monospace;
  font-size: 14px;
  color: var(--color-gray-dark);
  margin-top: -35px;
  text-align: center;
  line-height: 1.2;
  margin-left: 130px;
}

.userLink {
  background-color: var(--color-green-light);
  color: white;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  margin-top: -60px;
  margin-left: 10px;
}

.userIcon {
  font-size: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

/*Menú principal*/

.wrapper {
  background-color: var(--color-green-light);
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mainMenu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--color-green-light);
  border-radius: 20px;
  margin-bottom: 15px;
}

.navLink {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: var(--color-green-light);
  color: white;
  transition: background-color 0.3s ease;
  width: 25%;
  text-align: center;
  border-radius: 20px;
}

.navLink:hover {
  background-color: var(--color-orange);
  color: var(--color-green);
}

.icono-db {
  margin-right: 5px;
}

.userLink:hover {
  background-color: var(--color-orange);
  color: var(--color-green);
}
